{% include 'adminheader.html' %}

   <!-- banner -->
	      <section class="banner_main">
	         <div class="container-fluid">
	            <div class="row d_flex">
	               <div class="col-md-9">
	                  <div class="text-bg">
	                     <div class="padding_lert">
	                         
	                        <h1 align="center" style="font-size: 86px; color: #ffffff;margin-left: 50px; ">welcome Admin</h1>
	                        <a href="Javascript:void(0)" style="margin-left: 170px;">Read More</a>
	                     </div>
	                  </div>
	               </div>
	               <div class="col-md-5 bah">
	                  
	               </div>
	            </div>
	         </div>
	      </section>
	      <!-- end banner -->

{% include 'footer.html'%}