{% include 'publicheader.html'%}


 <section class="banner_main">
	         <div class="container-fluid">
	            <div class="row d_flex">
	               <div class="col-md-7">
	                  <div class="text-bg">
	                <center>
				<h1 style="color: #fff;">Login</h1>
				<form method="post">
					<table class="table" style="width: 500px;color: #fff;">
						<tr>
							<td>Username</td>
							<td><input type="text" class="form-control" required  name="username"></td>
						</tr>
						<tr>
							<td>Password</td>
							<td><input type="password" class="form-control" required  name="password"></td>
						</tr>
						<tr>
							<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="submit" value="login"></td>
						</tr>
					</table>
				</form>
</center>
	                  </div>
	               </div>
	               <div class="col-md-5 bah">
	                  <div class="bann_img">
	                     <figure><img src="static/images/bann_img.png" alt="#"/></figure>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </section>

	      

                        






{% include 'footer.html'%}