{%include 'adminheader.html'%}
<!-- banner -->
<section class="banner_main">
    <div class="container-fluid">
       <div class="row d_flex">
          <div class="col-md-7">
             <div class="text-bg">
                <div class="padding_lert">
            
    <center>
        <form method="post">
        <h2 align="center" style="color: rgb(255, 0, 0);">VIEW STAFF</h2>
        <table align ="center"class="table table-stripped">
            <tr>
                <th style="color: black;">SLNO </th>
                <th style="color: black;">FIRST_NAME</th>
                <th style="color: black;">LASAT_NAME</th>
                <th style="color: black;">BIRTH_DATE</th>
                <th style="color: black;">PHONE_NUMBER</th>
                <th style="color: black;">EMAIL</th>
                <th style="color: black;">BRANCH_NAME</th>


            </tr>
            {% for i in data['staff'] %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{i['first_name']}}</td>
                <td>{{i['last_name']}}</td>
                <td>{{i['dob']}}</td>
                <td>{{i['phone_number']}}</td>
                <td>{{i['email']}}</td>
                <td>{{i['branch_name']}}</td>
            </tr>
            {%endfor%}
        </table>
        </form>
    </center>

</div>
</div>
</div>
<div class="col-md-5 bah">
<div class="bann_img">
</div>
</div>
</div>
</div>
</section>
<!-- end banner -->

       {%include 'footer.html'%}
       <style>
        body {
  background-color:white;
}

form {
  display:block;
  width:1100px;
  height:auto;
  margin:80px auto;
  border-radius:15px;
  background-color:white;
  font-size:16px;
  font-family: Papyrus, fantasy;
  color:black
}
</style>
   
       